body {
    /* font-family: Roboto,monospace; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b7b7b7;
  }

  #mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 760px;
    height: 580px;
    margin: 0 auto;
    display: block;
    border: 0;
    border-radius: 10px;
  }
  .input_container{
    width: 100%;
    height: 176px;
    border: 2px solid #e2e2e2;
    border-radius: 8px;
  }

  .input_container {
    transition: border 0.2s linear;
  }

  .input_container:hover {
    border: 2px solid #007bc2;
  }

  #displays {
    position: relative;
    width: 60%;
    height: 813px;
  }

  #input_files_tab {
    width: 40%;
    height: 850px;
  }

  #settings_tab {
    width: 28%;
    height: 850px;
  }

  #laser_position_window {
    position: relative;
    height: 830px;
    width: 98%;
    border: 2px solid rgb(220 220 220);
    border-radius: 8px;
  }
  
  #loading{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 25px;
    color: #686868;
  }

  #laser_position_window:hover,
  #powder_bed:hover {

    cursor: pointer;
  }

  #princ_dir_span {
    display: block;
    height: 30px;
    line-height: 30px;
  }

  #powder_bed {
    height: 415px;
    width: 98%;
    margin-bottom: 15px;
    border: 2px solid rgb(220 220 220);
    border-radius: 8px;
  }

  #settings {
    height: 850px;
    width: 98%;
    border: 2px solid rgb(220 220 220);
    border-radius: 8px;
  }

  canvas {
    border-radius: 8px;
  }

  #princ_values_span {
    display: block;
    height: 30px;
    line-height: 30px;
  }

  #container {
    display: flex;
    margin: 14px 14px 10px 35px;
    width: 1385px;
    height: 806px;
  }

  #controlls {
    display: flex;
    height: 450px;
    width: 100%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  #app {
    position: relative;
    background-color: white;
    margin: 10px auto;
    border-radius: 12px;
    width: 1520px;
    height:900px;
    /* border: 3px solid #4488e7; */
    border: 4px solid #636363;
  }

  #input_stress_tensor {
    width: 367px;
    height: 400px;
  }

  /* #main_window:hover{
    background:#fbfbfb;
  } */

  #app_title_text{
    /* background: #f1f1f1;
    height: 55px;
    line-height: 55px;
    padding: 0px 721px 0 21px;
    color: #606060;
    margin: 0;
    border-radius: 12px  0px 0px 0px; */
    background: #f6f6f6;
    height: 47px;
    line-height: 47px;
    /* font-weight: 300; */
    padding: 0px 842px 0 21px;
  color: #007bc2;
    margin: 0;
    border-radius: 12px 0px 0px 0px;
  }



  #app_title {
    display: flex;
    height: 54px;
    /* width: 200px; */
    margin: 10px auto 0;
    /* box-sizing: border-box; */
    /* padding-left: 10px; */
    padding-bottom: 3px;
    line-height: 60px;
    width: 1450px;
    font-weight: bold;
    font-size: 30px;
    color: #505050;
    font-family:Arial, Helvetica, sans-serif;
    text-align: right;
    border-bottom: 3px solid #4a4a4a;
  }

  #cube:hover {
    cursor: pointer;
  }

  #cube:active {
    cursor: grab;
  }

  #outpuangle_controllst_info {
    width: 44%;
    height: 400px;
  }

  #angle_controlls {
    width: 28%;
    display: flex;
    height: 280px;
    margin-top: 32px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .control,
  .rs-transition,
  .rs-handle-round {
    cursor: pointer !important;
  }

  .control:active,
  .rs-transition:active,
  .rs-handle-round:active {
    cursor: pointer !important;
  }

  #output_info input::-webkit-outer-spin-button,
  #output_info input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .rs-tooltip-text {
    font-size: 17px !important;
    width: 56px !important;
  }

  .change_button:hover {
    cursor: pointer;
    color: #2e85c7;
    background: #fff;
  }

  .change_button,
  .minus_button {
    color: #fff;
    background: #2e85c7;
    cursor: pointer;
    border: 2px solid #2e85c7;
    font-size: 14px;
    transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    font-weight: bold;
    border-radius: 3px;
  }

  .minus_button {
    color: #fff;
    background: #676767;
    border: 3px solid #676767;
  }

  .minus_button:hover {
    color: #676767;
    background: #fff;
  }

  .span_input_name {
    display: inline-block;
    width: 150px;
  }

  .unit_width {
    display: inline-block;
    width: 50px;
  }

  hr{
    margin: 0;
    border-top: 2px solid #007bc2!important;
  }

  #printer_settings{
    margin-top: 15px;
    height: 420px;
  }
  #laser_properties_input_container,
  #liggghts_input_container ,#liggghts_input_container2{
    position: relative;
    box-sizing: border-box;
    padding:0px 0px 20px 10px;
    /* background-color: #aeaeae24; */
    width: 360px;
    height: 136px;
    margin: 0 auto 5px 11px;
    /* border-radius: 0 0 8px 8px ; */
    /* border-width: 0 1px 1px 1px ; */
    /* border-style: solid; */
    /* border-color: #ddd8d8; */
  }

  #laser_properties_input_container:hover,
  #liggghts_input_container:hover,#liggghts_input_container2:hover,#liggghts_input_container_title:hover{
    border-color: #4488e7;
  }

  #laser_properties_input_container_title,#liggghts_input_container_title{
    padding: 12px 20px 20px 20px;
    box-sizing: border-box;
    /* background-color: #ddd8d8; */
    width: 100%;
    height: 3px;
    /* margin: 1px auto 0 11px; */
    /* border-radius: 8px 8px 0 0; */
    /* border-width: 1px 1px 0 1px; */
    /* border-style: solid; */
    /* border-color: #ddd8d8; */
    }

  #laser_properties_input_container {
    height: 376px;    
    /* margin-top: 20px; */
  }

  #liggghts_input_container2{
    height: 380px;    
  }

  #laser_properties_input_container_title{
    margin-top: 20px;
  }

  #output_info {
    width: 590px !important;
    display: flex;
    margin-left: 12px;
    width: 360px;
  }

  #output_stresses {
    width: 270px;
  }

  #input_tauxz {
    margin-left: 7px;
  }

  .stress_input,
  .stress_output {
    padding-left: 12px;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 18px;
    width: 85px;
    height: 30px;
    margin: 5px;
  }

  .stress_output {
    width: 69px;
    border: 0 0 1px 0 solid black !important;
  }

  #show_liggghts_input_file,
  #align-button {
    margin-top: 40px;
  }

  #output_stresses_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
  }

  #show_liggghts_input_file,
  #show_laser_prop_input_files,
  #align-button,
  #download_liggghts_input_button,
  #download_all_case_files_button,
  #download_laser_prop_input_button,#reset_all_button,#plot_layer,#reset_settings {
    color: #fff;
    background: #2e85c7;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #2e85c7;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 8px 5px;
    width: 137px;
    height: 20px;
    transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    font-weight: bold;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 22px;
  }

  #plot_layer,#reset_settings{
    color: #a5a5a5;
    background: #ffffff;
    border: 2px solid #a5a5a5;
    position: absolute;
    /* color: #6c6c6c; */
    /* background: #e4e4e4; */
    cursor: pointer;
    right: 0;
    /* text-transform: none; */
    /* border: 0px solid #2e85c7; */
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 12px;
    padding: 4px;
    width: 125px;
    height: 20px;
    transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    /* font-weight: 100; */
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 22px;
    bottom: 21px;
  }

  #reset_settings{
    width: 71px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #plot_layer img,#reset_settings img{
    height: 66%;
    width: auto;
    position: absolute;
    right: 5px;
    top: 6px;
  }

  #plot_arrow{
    right:5px;
    top: 3.5px;
  }

  #plot_img{
    left: 5px;
  }

  #show_liggghts_input_file,
  #show_laser_prop_input_files {
    margin-left: 140px;
  }

  #reset_all_button{
    width: 80px;
    position: absolute;
    /* margin-top: 18px; */
    /* bottom: 13px; */
    left: 42px;
  }

  #download_liggghts_input_button,
  #download_all_case_files_button,
  #download_laser_prop_input_button, #reset_all_button {
    color: #000000;
    background: #d2d2d2;
    border: 2px solid #1c1c1c;
    margin-left: 6px;
  }

  #reset_all_button {
    background-color: #5c5c5c;
    color: #ffffff;
  }



  #download_liggghts_input_button:not([disabled]):hover,
  #download_all_case_files_button:not([disabled]):hover,
  #download_laser_prop_input_button:not([disabled]):hover,#reset_all_button:not([disabled]):hover {
    color: #000000;
    background: #fff;
  }

  #plot_layer:not([disabled]):hover ,#reset_settings:not([disabled]):hover {
    color: #ffffff;
    background: #c8c8c8;
    border: 2px solid #a5a5a5;
  }


  #download_all_case_files_button {
    margin-top: 18px;
    color: #ffffff;
    background: #365115;
    width: 140px;
    position: relative;
    left: 1243px;
  }

  #align-button {
    width: 200px;
  }

  #show_liggghts_input_file:not([disabled]):hover,
  #align-button:not([disabled]):hover,
  #show_laser_prop_input_files:not([disabled]):hover {
    color: #2e85c7;
    background: #fff;
  }

  .section_title {
    display: block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    color: #535353;
    margin: -4px 0 0 0;
  }

  #alfa {
    background-image: url("../../images/rotate_x_dial.png");
    background-size: cover;
  }

  #beta {
    background-image: url("../../images/rotate_y_dial.png");
    background-size: cover;
  }

  #gamma {
    background-image: url("../../images/rotate_z_dial.png");
    background-size: cover;
  }


  #info_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1830px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  #info_div_content {
    position: absolute;
    top: 80px;
    background-color: #f1f1f1;
    padding: 30px 20px 20px 20px;
    border: 3px solid #959595;
    border-radius: 10px;
    text-align: center;
    width: 800px;
    height: 800px;
  }

  .hidden {
    border:0px solid white!important;
    padding:0!important;
    height: 0!important;
    width:  0!important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
    /* transition: opacity 0.4s ease, visibility 0.4s ease; */
  }

  .revealed {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
    transition: opacity 0.4s ease, visibility 0.4s ease;
  }


  #info_div_input {
    width: 100%;
    height: 95%;
    font-size: 14px;
    padding: 22px 19px 10px 17px;
    box-sizing: border-box;
    border-radius: 0 0 18px 18px;
    border: 2px solid #959595;
    margin-top: 35px;
  }

  #info_div_input {
    border: none;
  }

  #info_div_title_1,
  #info_div_title_2,
  #info_div_title_3 {
    width: 200px;
    height: 21px;
    position: absolute;
    top: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #505050;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px 0 0 0;
  }

  #info_div_title_2 {
    left: 240px;
    border-radius: 0 0px 0 0;
  }

  #info_div_title_3 {
    left: 460px;
    border-radius: 0 8px 0 0;
  }

  #info_div_title_1:hover,
  #info_div_title_2:hover,
  #info_div_title_3:hover {
    cursor: pointer;
  }

  #close_img,
  #copy_img {
    width: 30px;
    height: 30px;
  }

  #close_div {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 0 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #copy_div {
    position: absolute;
    top: 20px;
    right: 75px;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 0 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #copy_div:hover,
  #close_div:hover {
    cursor: pointer;
    scale: 1.1;
  }
.active-tab{
    background-color: white !important;
    /* border:2px solid rgb(27, 103, 255)!important; */
    color: #007bc2!important;
    /* border-bottom:2px solid #007bc2!important; */
    border-top:2px solid #007bc2!important;
}
  .info_div_active {
    background-color: white !important;
  }


  #light_theme:hover,
  #dark_theme:hover {
    cursor: pointer;
  }

  #light_theme,
  #dark_theme {
    position: absolute;
    border-radius: 50%;
    top: 17px;
    right: 72px;
    /* bottom: 120px; */
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }

  #light_theme {
    background-color: #cdcdcd;
  }

  #dark_theme {
    background-color: #2f2f2f;
    right: 48px
  }

  .active_theme {
    border: 2px solid #2e85c7;
  }

  textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
  }

  .noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  #reset_button {
    position: absolute;
    bottom: 29px;
    left: 47px;
    width: 26px;
    height: 26px;
  }

  #run_button {
    position: absolute;
    left: 10px;
    bottom: 25px;
    width: 35px;
    height: 35px;
  }

  #run_button:hover,
  #reset_button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.1s ease-in-out;
  }

  .flash-white,
  #run_button.flash-white:hover,
  #reset_button.flash-white:hover {
    filter: brightness(10000%) invert(0%) sepia(0%) saturate(0%);
  }

  #disclamer_and_license{
    width:1000px;
    height: 800px;
    /* border: 3px solid #959595; */
    margin: 0 auto;
    margin-top: 30px;
    color:rgb(221, 221, 221);
      text-align:justify;
  }

  #RI_logo,#iform_logo{
    /* margin-right: 15px; */
    /* margin-bottom: 2px; */
    width: 99px;
    height: auto;
    /* border-radius: 20%; */
    position: absolute;
    right: 40px;
    top: 7px;
  }

  #RI_logo{
    top: 12px;
    width: 205px;
    /* height: auto; */
  }

  #iform_logo{
    right: 245px;

  }
  #copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    /* border: 1px solid #959595; */
    margin-bottom: 45px;
  }

  #tabs{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 31px;
    /* border: 1px solid black; */
  }
  .tab{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: bold;
    line-height: 36px;
    color: #646464;
    width: 165px;
    height: 100%;
    /* border-radius: 5px 5px 0 0; */
    /* border-bottom: 1px solid rgb(113, 113, 113); */
    border-top: 1px solid rgb(191, 191, 191);
    border-left:1px solid rgb(191, 191, 191);
    /* border-bottom: 1px solid rgb(113, 113, 113); */
    background-color: rgb(242 242 242);
    box-sizing: border-box;
    text-align: center;
  }

  .tab:hover{
    cursor:pointer;
    /* transform: scale(1.01); */
    /* transition: background-color 0.2s linear; */
    background-color: #dadada;

  }

#build-plate-tab{
    /* border-radius: 5px 0 0 0; */
}

#results-tab,#documentation-tab{
    /* border-radius: 0 0 0 0; */
    /* border-right: 2px solid rgb(191, 191, 191)!important; */
    /* border-left: 2px solid rgb(191, 191, 191); */
}

#documentation-tab{
    /* border-radius: 0 5px 0 0; */
    border-right:1px solid rgb(191, 191, 191);
}

/* #documentation-tab{ */
  /* border-right: 2px solid rgb(191, 191, 191);
} */

  #main_window{
    padding: 10px;
    box-sizing: border-box;
    background: #f3f3f3;
    width: 1042px;
    height: 776px;
    margin: 20px auto;
    position: absolute;
    right: 38px;
    top: 65px;
    border-radius: 3px;
    /* border: 3px solid #007bc2; */
  }

  .window{
    padding-top: 30px;
    width: 1016px;
    /* width: 100%; */
    height: 691px;
    background: #ffffff;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #e2e2e2;
    border-left: 3px solid #e2e2e2;
    border-right: 3px solid #e2e2e2;
    border-bottom: 3px solid #e2e2e2;
  }

  .tab img{
    height: 18px;
  }

  #pyodide_chart{

    /* margin:20px auto; */
  }

  #disclamer_and_license p {
    font-weight: 700;
    font-size: 20px;
    text-align:center;
  }

  #disclamer_and_license a {
    color: #2e85c7;
    text-decoration: none;
  }


  #footer{
    position: absolute;
    bottom: 10px;
    margin: 0 30px;
    width: 1453px;
    height: 21px;
    background: #f6f6f6;
    border-radius:0 0 8px 8px;
  }


  #folder-navigation-container {
    /* line-height: 30px; */
    display: flex;
    padding: 5px 0px;
    margin-top: 18px;
    /* border-bottom: 1px solid #dadce0; */
    color: #5f6368;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
  }
  
  #folder-navigation-container img, #folder-navigation-container i {
    height: 18px;
    width: 18px;
    display: block;
    margin: 0 auto;
    -webkit-user-drag: none;
  }
  
  #folder-navigation-container #save-path i {
    background-image: url(../images/star.svg);
    background-size: 18px 18px;
    background-position: center;
    transition: all .2s linear;
  }

  #folder-navigation-container #load-data i {
    height: 16px;
    width: 16px;
    background-image: url(../images/load.svg);
    background-size: 16px 16px;
    background-position: center;
    transition: all .2s linear;
  }

   #folder-navigation-container #load-data {
    /* position: absolute; */
    /* top: 2.5px; */
    padding: 4px 2px 2px 2px!important;
  }

  #folder-navigation-container #save-path.saved i {
    background-image: url(../images/star-filled.svg);
  }
  
  #folder-navigation-container i.i-next-folder {
    background-image: url(../images/next.svg);
    background-size: 14px 14px;
    background-position: center;
    width: 18px;
    height: 14px;
    display: inline-block;
    margin-bottom: -2px;
  }
  
  #folder-navigation-container .next-folder {
    transform: rotate(180deg);
  }
  
  #folder-navigation-container .up-folder {
    transform: rotate(90deg);
  }
  
  #folder-navigation-container .previous-folder.disabled,
  #folder-navigation-container .next-folder.disabled,
  #folder-navigation-container .up-folder.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  
  #folder-navigation-container .address-line-container {
    float: left;
    width: calc(100% - 10px);
    position: relative;
  }
  
  #folder-navigation-container .address-line {
    width: calc(100% - 28px);
    height: 21px;
    background: #f1f3f4;
    border-radius: 14px;
    padding: 2px 10px;
    margin-left: 3px;
    border: 2px solid #f1f3f4;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    color: #5f6368;
    font-family: 'Roboto', Arial;
    font-size: 14px;
  }
  
  #folder-navigation-container .current-address-cont {
    position: absolute;
    left: 40px;
    width: 84%;
    right: 35px;
    top: 2px;
    background: #f1f3f4;
    padding: 4px 0;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    bottom: 2px;
  }
  
  #folder-navigation-container .current-address-wrap {
    position: relative;
    max-width: 100%;
    display: inline-block;
  }
  
  #folder-navigation-container .current-address {
    float: right;
  }
  
  #folder-navigation-container .current-address {
    content: '';
    clear: both;
  }
  
  #folder-navigation-container .address-line:focus {
    background: #fff;
    border: 2px solid #f7df1e;
  }
  
  #folder-navigation-container .address-line:focus ~ .current-address-cont,
  #folder-navigation-container .address-line:focus ~ .save-icon {
    display: none;
  }
  
  #folder-navigation-container .folder-icon {
    z-index: 99!important;
    position: absolute;
    right: 35px;
    top: 4px;
    pointer-events: none;
  }

  #folder-navigation-container .folder-icon:hover {
    cursor: pointer;
  }
  
  #folder-navigation-container span.folder {
    cursor: pointer;
    pointer-events: all;
  }
  
  #folder-navigation-container .folder-address {
    font-size: 14px;
  }
  
  #folder-navigation-container #save-path ,#folder-navigation-container #load-data {
    position: absolute;
    top: 2.5px;
    padding: 2px;
    right: 5px;
    background: #ffffff00;
    margin: 0px 2px;
    cursor: pointer;
    width: 25px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: block;
    height: 20px;
    -webkit-user-drag: none;
  }

  #folder-navigation-container #load-data {
    right: 30px;
    /* width: 22px; */
  }
  
  #folder-navigation-container #save-path:hover, #folder-navigation-container #load-data:hover  {
    background: #fff;
    border-radius: 12px;
  }
  
  #folder-navigation-container .button {
    padding: 5px;
    margin: 0px 2px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    cursor: pointer;
  }
  
  #folder-navigation-container .button:hover {
    background: #f1f3f4;
    border-radius: 14px;
  }

  .folder-navigation-container2{
    line-height: 30px;
    margin-top: 2px!important;
  }

  #layer_number,#num_of_layers{
    font-weight: bold;
    padding:2px 10px!important;
    width: 40px!important;
    margin:0px!important;
  }
  #layer_number{
    border-radius: 6px 0px 0px 6px!important;
    width: 30px !important;
    background-color: rgb(255, 255, 255)!important;
    border: 2px solid #dedede !important;
  }

  #num_of_layers{
    border-radius: 0px 6px 6px 0px!important;
    width: 42px !important;
    border: 2px solid #dedede !important;
    border-left: 0px solid #9a9a9a !important;
  }

  #main_body,#contour,#overhangs{
    width: 50px;
  }

  #main_body{
    right: 140px;
  }
  #contour{
    right: 80px;
  }
  /* #layer_number .address-line,#num_of_layers .address-line { */
    /* padding: 0px; */
  /* } */
  /* #num_of_layers{
    width: 40px;
    border-radius: 6px!important;
  } */

  .print_setting{
    display: flex;
    color: gray;
    font-size: 15px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    /* line-height: 40px; */
    /* border: 2px solid gray; */
    margin-top:0px;
  }

  .print_setting span{
    margin-left: 5px;
    display: block;
    height: 37px!important;
    /* height: 100%; */
    line-height: 37px;
  }

  #layer_thicknesss{
    margin-top: 18px;
  }

.print_settings_input,.print_settings_units{
  /* padding: 2px 5px 2px 10px;
  box-sizing: border-box;
  position: absolute;
  right: 55px;
  width: 60px; 
  height: 30px; */
  margin-top: 3px;
  font-weight: bold;
  color: rgb(98, 98, 98);
  padding: 2px 5px 2px 5px;
  box-sizing: border-box;
  position: absolute;
  right: 55px;
  border: 2px solid #c9c9c9;
  border-radius: 6px;
  width: 60px;
  height: 30px;
  text-align: center;
}  

.print_settings_input:hover{
  cursor:pointer;
}

.print_settings_units{
  height: 30px;
  line-height: 26px;
  right: 0;
  font-size: 16px;
  border: none!important;
}   

.print_settings_img{
  height: 24px;
  margin-top: 5px;
  margin-left: 0px;
}


select.print_settings_input{
  width: 115px;
  right: 0;
  text-align: center;
  margin-top: 3px;
  color: rgb(116, 116, 116);
  font-weight: bold;
  /* padding-right: 10px; */
}